body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:#b28aa0;
  overflow: hidden;
}

.container {
  position:relative;
  width: 200vw;
  height: 80vw;
}

.cookie {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width: 30vw;
  cursor: pointer;
  transform-origin: center;
  z-index: 2;;
}


.half {
  position: absolute;
  width: 100vw;
  height: 80vw;
  background: rgb(255, 222, 122);
  transition: transform 0.8s ease, top 0.8s ease;
}


.right {
  left: 2vw;
  width: 50vw;
  background: #fff159;
  z-index: 4;
  background:linear-gradient(126deg, #e58900, #ffd900);
  clip-path: polygon(28% 84%, 43% 83%, 58% 75%, 66% 60%, 63% 37%, 50% 28%, 31% 24%, 21% 69%, 21% 80%);
}

.left {
  left:-15vw;
  top:-8vw;
  width:60vw;
  background:linear-gradient(126deg, #e58900, #ffd900);
  z-index:3;
  clip-path: polygon(38% 65%, 53% 58%, 54% 34%, 35% 40%, 25% 52%, 21% 61%, 22% 71%, 31% 69%);
}

.paper {
  position: absolute;
  width: 33vw;
  height: 10vw;
  background:beige;
  color: red;
  box-shadow:0.5vw 0.5vw 0.5vw rgb(194, 192, 192);
  display: flex;
  align-items: center;
  font-size: 2vw;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding:3vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.8s ease 0.4s, top 0.8s ease 0.4s;
  border-radius: 6px;
  z-index: 3;
}

.open .cookie .left {
  transform: rotate(-20deg) translateX(-20px) translateY(20px);
}

.open .cookie .right {
  transform: rotate(20deg) translateX(20px) translateY(20px);
}

.open .paper {
  transform: translate(-50%, -150%) scale(1);
}
