html, body {
  background-color:pink;
  cursor: url("../media/Pointer.ico");

  /*cursor: url("../media/cursor.svg") 4 4, default;/*
}

  /*cursor: url("/assets/media/pointer.png"), default;/*
  /*cursor: url("pathHERE"), default;*/



.pop_up {
  display: none; 
  width: 60vw; 
  height: 60vw; 
  position: relative; 
  left: 20vw; 
  top: 20vh; 
  z-index: 99;
}

.banner {
  width: 100%;
  height: 100%;
}

.button {
  
}

.popcorn_container {
    width: 10vw;
    height: 10vw;
    position: relative;
}

.popcorn_container.zu {

  .popcorn,
  .detail {
    display: none;
  }
}

.kernel {
    clip-path: polygon(37% 100%, 60% 100%, 89% 69%, 100% 43%, 94% 13%, 66% 0, 38% 0, 8% 11%, 0 39%, 11% 66%);
    background:rgb(254, 169, 10); 
    width: 80%;
    height: 100%;
    margin-left: 10%;
    position: absolute;
}

.popcorn_container:hover {
  /*cursor: url("../media/Pointer.png"), default;*/
    .kernel {
      transform:scale(1.2);
    }
    }

.popcorn {
    background: #FFF2D6;  
    clip-path: polygon(19% 46%, 0 32%, 6% 12%, 25% 6%, 45% 17%, 68% 7%, 87% 23%, 94% 38%, 79% 57%, 100% 75%, 77% 100%, 48% 100%, 33% 79%, 14% 80%, 7% 64%);
    width: 200%;
    height: 200%;
    margin-left: -50%;
    margin-top: -50%;
    position: absolute;
}

.detail {
    background-color:#ffc038;
    clip-path: polygon(54% 82%, 36% 100%, 14% 93%, 5% 76%, 12% 58%, 21% 49%, 4% 27%, 19% 4%, 47% 6%, 65% 26%, 94% 26%, 100% 53%, 85% 59%, 80% 90%);
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15%;
    position: absolute;
}

.popcorn_1{
  position:absolute;
  top:10%;
  left:60%;

  .popcorn {
      clip-path: polygon(38% 100%, 16% 91%, 20% 72%, 3% 57%, 0 33%, 15% 18%, 38% 18%, 56% 27%, 66% 9%, 84% 7%, 99% 27%, 99% 54%, 77% 70%, 68% 88%);
}  
.detail{
  clip-path: polygon(0 90%, 2% 55%, 27% 50%, 6% 31%, 16% 7%, 39% 10%, 55% 29%, 75% 0, 95% 9%, 100% 23%, 97% 45%, 74% 48%, 77% 63%, 100% 68%, 77% 92%, 52% 77%, 43% 99%, 14% 100%);
  background-color:rgb(255, 181, 45);
}
}

.popcorn_2{
  position:absolute;
  top:20%;
  left:76%;

  .popcorn {
      clip-path: polygon(19% 46%, 0 32%, 6% 12%, 25% 6%, 45% 17%, 68% 7%, 87% 23%, 94% 38%, 79% 57%, 100% 75%, 77% 100%, 48% 100%, 33% 79%, 14% 80%, 7% 64%);
}  

.detail{
clip-path: polygon(34% 99%, 3% 96%, 0 71%, 14% 53%, 2% 30%, 22% 15%, 43% 25%, 51% 3%, 84% 4%, 100% 21%, 98% 45%, 80% 54%, 97% 76%, 89% 95%, 69% 90%, 53% 80%);  
}
}

.popcorn_3{
  position:absolute;
  top:10%;
  left:10%;

  .popcorn {
  clip-path: polygon(37% 100%, 17% 96%, 12% 79%, 21% 59%, 2% 49%, 0 22%, 10% 5%, 49% 0, 59% 19%, 80% 9%, 98% 17%, 100% 41%, 93% 65%, 72% 72%, 65% 94%);    
  }  

  .detail{
    clip-path: polygon(0 23%, 20% 4%, 48% 0, 59% 11%, 69% 27%, 84% 12%, 99% 23%, 97% 46%, 74% 58%, 83% 80%, 69% 96%, 50% 81%, 28% 94%, 14% 79%, 25% 61%, 6% 47%);
  }
}

.popcorn_4{
  position:absolute;
  top:45%;
  left:2%;

  .popcorn {
  clip-path: polygon(0 64%, 0 34%, 21% 10%, 50% 17%, 75% 0, 95% 11%, 100% 26%, 84% 48%, 100% 68%, 91% 99%, 68% 97%, 40% 85%, 11% 87%);    
  }  

  .detail{
    clip-path: polygon(21% 95%, 15% 71%, 33% 55%, 17% 56%, 4% 36%, 16% 17%, 50% 21%, 67% 6%, 83% 12%, 75% 40%, 94% 52%, 100% 80%, 67% 98%, 61% 77%, 47% 90%);
  }
}

.popcorn_5{
  position:absolute;
  top:30%;
  left:45%;

  .popcorn {
  clip-path: polygon(39% 92%, 25% 100%, 13% 96%, 6% 84%, 6% 70%, 21% 61%, 11% 56%, 3% 43%, 0 22%, 11% 5%, 32% 1%, 50% 9%, 60% 18%, 78% 6%, 96% 10%, 99% 24%, 87% 33%, 82% 56%, 95% 71%, 87% 97%, 66% 100%, 52% 91%, 46% 77%);    
  }  

  .detail{
    clip-path: polygon(21% 61%, 0 51%, 6% 41%, 29% 30%, 16% 16%, 26% 4%, 50% 0, 63% 30%, 84% 19%, 100% 30%, 97% 57%, 76% 68%, 95% 83%, 84% 98%, 62% 91%, 56% 66%, 48% 97%, 24% 91%, 14% 76%);
  }
}

.popcorn_6{
  position:absolute;
  top:60%;
  left:20%;

  .popcorn {
  clip-path:polygon(28% 82%, 34% 96%, 54% 100%, 70% 93%, 65% 78%, 89% 71%, 100% 57%, 92% 38%, 99% 23%, 96% 5%, 74% 0, 53% 4%, 42% 21%, 27% 15%, 10% 18%, 0% 35%, 1% 58%, 14% 68%, 28% 68%);
}  

.detail{
  clip-path: polygon(13% 49%, 3% 37%, 5% 23%, 22% 2%, 43% 9%, 60% 24%, 79% 18%, 100% 27%, 96% 56%, 79% 64%, 82% 80%, 67% 95%, 41% 88%, 34% 67%, 21% 81%, 2% 78%, 0 62%);
}
}

.popcorn_7{
  position:absolute;
  top:85%;
  left:37%;

  .popcorn {
  clip-path: polygon(39% 92%, 25% 100%, 13% 96%, 6% 84%, 6% 70%, 21% 61%, 11% 56%, 3% 43%, 0 22%, 11% 5%, 32% 1%, 50% 9%, 60% 18%, 78% 6%, 96% 10%, 99% 24%, 87% 33%, 82% 56%, 95% 71%, 87% 97%, 66% 100%, 52% 91%, 46% 77%);    
  }  
}
.popcorn_8{
  position:absolute;
  top:50%;
  left:40%;

  .popcorn {
  clip-path: polygon(22% 68%, 8% 61%, 0 49%, 2% 31%, 15% 15%, 33% 15%, 43% 25%, 45% 7%, 66% 1%, 81% 0, 90% 10%, 84% 25%, 95% 34%, 100% 45%, 92% 52%, 81% 50%, 96% 61%, 100% 73%, 92% 84%, 77% 75%, 70% 82%, 71% 93%, 54% 100%, 34% 97%, 20% 89%);}  
}
.popcorn_9{
  position:absolute;
  top:40%;
  left:65%;

  .popcorn {
  clip-path: polygon(54% 84%, 62% 96%, 73% 98%, 84% 91%, 79% 78%, 91% 76%, 97% 67%, 100% 45%, 91% 36%, 100% 21%, 94% 8%, 83% 5%, 70% 20%, 71% 7%, 58% 0, 45% 8%, 41% 22%, 30% 7%, 13% 2%, 2% 10%, 0 29%, 15% 38%, 20% 52%, 4% 58%, 0 74%, 5% 86%, 23% 83%, 32% 94%, 46% 92%);
  }  
}

.popcorn_10{
  position:absolute;
  top:76%;
  left:9%;

  .popcorn {
  clip-path: polygon(15% 33%, 0 12%, 14% 0, 45% 2%, 64% 24%, 69% 10%, 89% 5%, 100% 16%, 99% 41%, 87% 54%, 100% 68%, 95% 95%, 78% 100%, 57% 92%, 50% 78%, 33% 95%, 6% 84%, 0 64%, 3% 43%);
  }  
}


/*
.popcorn {
   background: #FFF2D6;  
    clip-path: polygon(25% 68%, 28% 61%, 34% 55%, 26% 49%, 21% 41%, 26% 33%, 35% 31%, 44% 32%, 52% 43%, 61% 37%, 72% 44%, 76% 54%, 71% 62%, 63% 67%, 72% 76%, 64% 86%, 47% 90%, 39% 86%, 40% 76%, 34% 69%);
}

.popcorn::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 52%;
  width: 40vw;
  height: 40vw;
  background-color:#fbc757;
  clip-path: polygon(38% 79%, 30% 80%, 25% 73%, 32% 66%, 27% 59%, 31% 53%, 41% 57%, 50% 54%, 53% 59%, 58% 67%, 56% 74%, 49% 76%, 43% 73%);
  transform: translate(-50%, -50%);
}
*/